/* Reseting Elements */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 100%;
  background-color: #dbd0c0;
  background-image: url("Images/bgTile.jpg");
  /* Header Styles */
  /* Main Styles */
}

body #dataChartOverlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
}

body #dataChartOverlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

body #dataChartOverlay #closebtn {
  padding: 8px;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  color: #e0261c;
  display: block;
  /* Display block instead of inline */
}

body #dataChartOverlay #closebtn:hover, body #dataChartOverlay #closebtn:focus {
  color: #e54b42;
}

body #dataChartOverlay #dataChart {
  position: relative;
  top: 25%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-color: white;
  -webkit-box-shadow: 0 0 12px #888;
          box-shadow: 0 0 12px #888;
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */
}

body #dataChartOverlay #dataChart p {
  text-align: center;
  padding: 5px;
}

body #dataChartOverlay #dataChart table {
  width: 100%;
  border: 1px solid black;
}

body #dataChartOverlay #dataChart table th {
  background-color: #43464D;
  color: snow;
  padding: 5px;
}

body #dataChartOverlay #dataChart table td {
  text-align: center;
  padding: 6px;
  border: 1px solid black;
}

body #dataChartOverlay #dataChart table .profitable {
  background-color: #88D969;
}

body #dataChartOverlay #dataChart table tr:nth-child(odd) {
  background-color: #eeeeee;
}

body .coinContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .coinImage {
  margin-left: 3px;
  margin-right: 4px;
}

body header {
  background-color: #e0261c;
  width: 100%;
  height: 50px;
  color: #ef908b;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 3px solid #bd1f17;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header h1 {
  font-weight: normal;
  font-size: 24px;
}

body header h1 a {
  text-decoration: none;
  color: snow;
}

body header h1 a:visited {
  color: snow;
}

body header nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header nav ul li {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 6px 0 6px;
  border-right: 1px solid #ef908b;
}

body header nav ul li a {
  text-decoration: none;
  color: snow;
}

body header nav ul li a:visited {
  color: snow;
}

body header nav ul li a:hover {
  border-bottom: 1px solid snow;
}

body header nav ul li:last-of-type {
  border-right: none;
}

body main {
  width: 100%;
  padding: 15px;
}

body main input[type="text"] {
  border: 1px solid black;
  height: 32px;
  padding: 6px;
  font-family: Calibri, Arial, sans-serif;
  font-size: 18px;
}

body main .button {
  background-color: #e0261c;
  color: snow;
  height: 32px;
  padding: 6px 10px 6px 10px;
  border-radius: 2px;
  cursor: pointer;
}

body main .button:hover {
  background-color: #e54b42;
}

body main #accountAPI {
  background-color: snow;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Calibri, Arial, sans-serif;
  font-size: 18px;
  -webkit-box-shadow: 2px 2px 0px 0px #8a8a8a;
          box-shadow: 2px 2px 0px 0px #8a8a8a;
}

body main #accountAPI input[name="apiInput"] {
  width: 700px;
}

body main #accountAPI .descriptor {
  font-weight: bold;
  margin-right: 4px;
}

body main #accountAPI #ssOwned {
  margin-right: 10px;
}

body main #displayOptions {
  background-color: snow;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Calibri, Arial, sans-serif;
  font-size: 18px;
  -webkit-box-shadow: 2px 2px 0px 0px #8a8a8a;
          box-shadow: 2px 2px 0px 0px #8a8a8a;
}

body main #displayOptions input[name="avgResultInput"] {
  width: 60px;
  text-align: center;
}

body main #displayOptions input[name="breakpointInput"] {
  width: 70px;
  text-align: center;
}

body main #displayData {
  background-color: snow;
  width: 100%;
}

body main #displayData table {
  width: 100%;
  font-family: Calibri, Arial, sans-serif;
  font-size: 18px;
  -webkit-box-shadow: 2px 2px 0px 0px #8a8a8a;
          box-shadow: 2px 2px 0px 0px #8a8a8a;
}

body main #displayData table th {
  background-color: #43464D;
  background-image: repeating-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  color: snow;
  padding: 5px;
  font-family: Calibri, Arial, sans-serif;
}

body main #displayData table td {
  height: 100px;
}

body main #displayData table .gridRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main #displayData table .centerRow {
  text-align: center;
}

body main #displayData table .avgReturnRow {
  text-align: center;
  font-size: 28px;
}

body main #displayData table .craftingMaterialsRow p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2px;
}

body main #displayData table .craftingMaterialsRow p .materialImage {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

body main #displayData table .craftingMaterialsRow p:last-of-type {
  margin-bottom: 0;
}

body main #displayData table .paddedCell {
  padding-left: 10px;
}

body main #displayData table .profitable {
  border: 2px solid #46CB18;
  background-color: #88D969;
}

body main #displayData table .itemText {
  margin-left: 5px;
}

body main #displayData table .divider {
  margin-left: 4px;
}

body main #displayData table tr:nth-child(odd) {
  background-color: #eeeeee;
}

body footer {
  background-color: #4e4141;
  width: 100%;
  color: snow;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
}

body footer h3 {
  padding-bottom: 10px;
}
/*# sourceMappingURL=main.css.map */